.highlightsPageContainer{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.highlightVids{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
}


.filterArea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.DropdownFilterArea{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.filters{
    padding: 5px;
    width: 100%;
}
